/* brand colors */
:root {
    --primary-light: #f4f4fa;
    --primary-dark: #371d61;
    --primary: #754ba3;
}

/* global styles */
body {
    background-color: var(--primary-light);
    color: var(--primary-dark)
}

a, a:hover {
  color: inherit;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
  font-size: 1.55rem;
}

h4 {
    font-size: 1.35rem;
}

.heading-text {
  font-weight: bold;
  color: var(--primary-dark);
  margin-bottom: 1rem;
}

hr {
  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(66, 36, 74, 0), rgba(66, 36, 74, 0.25), rgba(66, 36, 74, 0));
    max-width: 65%;
}

label {
  color: inherit;
}

/* custom checkbox css */
 /* Customize the label (the container) */
 .container {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  border-radius: 5px;
  border: var(--primary) 1px solid;
}

/* On mouse-over, add a light background color */
.container:hover input ~ .checkmark {
  border: var(--primary-dark) 1px solid;
}

/* When the checkbox is checked, add a background */
.container input:checked ~ .checkmark {
  background-color: var(--primary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 11px;
  top: 2px;
  width: 13px;
  height: 25px;
  border: solid var(--primary-light);
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

/* all sections */
div.section {
  margin: 6rem 0rem;
  text-align: center;
}

div.section img {
  max-width: 70%;
}

div.section div.grid-margin-y div.cell {
  margin: 1rem inherit;
}

/* input styles */
input, input[type="text"], input[type="email"] {
    height: 2.6rem;
    border-color: var(--primary-dark)
}

input[type="email"] {
    display: inline-block;
}

/* button styles */
.button {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
  padding: 1rem 5rem;
  background-color: var(--primary);
  color: var(--primary-light);
  border: var(--primary) 1px solid;
  margin: 0.5rem 0 0.5rem 0;
}

.button:hover, .button:focus {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  border: 1px solid;
  border-color: var(--primary-light);
}

/* menu title bar */
div#menu {
  width:100%;
  color: var(--primary-dark);
  padding: 1rem;
  background-color: inherit;
}

div#menu img#app_icon_img {
    max-height: 50px;
}

div#menu div.title-bar-left {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

div#menu div.app-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section: hero */
div#hero {
  margin-top: 3rem;
}

div#hero img#hero_image {
  max-width: 90%;
}

div#hero a#hero-cta {
  font-size: 1.4rem;
  margin: 5rem 0rem;
}

div#hero .copy {
  margin: auto;
}

div#hero h2 {
    color: var(--primary-dark);
    line-height: 1.68;
    margin: 0rem 0rem 2rem 0rem;
}

div#hero img#hero-img {
    max-height: 650px;
    margin: 2rem 0rem;
}

div#hero h4 {
    text-align: center;
    color: var(--off-white);
}

div#hero form button {
    margin-bottom: 2rem;
}

div#hero div.grid-container {
  max-width: 70%;
  text-align: center;
}
/* section: side-by-side - both supported apps & privacy */
div#side-by-side a.dark-button {
  margin-top: 1rem;
}

div#side-by-side hr {
  margin-bottom: 6rem;
}

/* section: supported apps */
div#supported-apps {
    color: var(--primary-dark);
    text-align: center;
}

div#supported-apps > div.grid-y {
  margin-bottom: 3rem;
}

div#supported-apps img.supported-apps-icons {
  max-height: 75px;
}

div#supported-apps img.coming-soon-apps-icons {
  max-height: 50px;
  max-width: 50px;
}

form#supported-apps {
  display: flex;
  align-items: center;
  justify-content: center;
}

form#supported-apps input {
    max-width: 20rem;
    margin: 0 1rem;
}

/* section: privacy */
div#privacy {
  color: var(--primary-dark);
  text-align: center;
}

div#privacy > div.grid-y > div.cell:first-child {
  margin: inherit;
}

div#privacy > div.grid-y > div.cell {
  margin: 1rem auto;
}

/* section: calendar */
div#calendar {
    color: var(--primary-dark);
}

div#calendar img#calendar_img {
    max-height: 900px;
}

/* section: search */
div#search {
    color: var(--primary-dark);
}

div#search img#search_img {
    max-height: 500px;
    border-radius: 50px;
}

/* section: movie view */
div#movie-view {
    color: var(--primary-dark);
}

div#movie-view img#movie-view {
    max-height: 400px;
}

/* section: faq */
div#faq .grid-container {
  max-width: 80%;
}

div#faq .accordion {
  text-align: left;
}

div#faq .accordion {
  margin: auto;
  background-color: inherit;
}

div#faq .accordion-title {
  padding-right: 3rem;
}

div#faq li.accordion-item a {
  border: none;
  font-size: inherit;
  color: var(--primary-dark);
  font-weight: 500;
}

div#faq li.accordion-item a.accordion-title {
  font-size: 1.5rem;
}

div#faq .accordion-content {
  background-color: inherit;
  color: inherit;
  border: none;
}

div#faq a.accordion-title:focus, div#faq a.accordion-title:hover {
  background-color: var(--primary);
  color: var(--primary-light)
}

/* section: footer */
div#footer {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  text-align: center;
  padding: 2rem 0rem 0rem 0rem;
  font-size: 1rem;
  margin-bottom: 0px;
}

div#footer a {
  color: inherit;
  font-weight: bold;
}

/* section: sign up */
div#sign-up {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  position: fixed;
  inset: auto 0 0 0;
  text-align: center;
}

div#sign-up div.grid-container {
  max-width: 80%;
  margin: auto;
}

/* section: social media */
div#social-media {
  background-color: var(--cream);
  color: var(--dark-purple);
  padding: 100px 0px 100px 0px;
  text-align: center;
}

div#success-social-media {
  padding: 3rem 0rem;
}

div#community-intro h2{
  padding-bottom: 1rem;
}

div#sign-up input{
  color: var(--primary-dark);
  border: none;
  margin: 0;
  height: 42px;
}

div#community-intro {
    padding-bottom: 1rem;
}

div.community-link {
    text-align: center;
}

div.community-link img {
    margin-bottom: 1rem;
}

img.social-media-icon {
    width: 120px;
    height: 120px;
}

div#sign-up input::placeholder {
  color: var(--primary)
}

div#sign-up button#email-form {
  padding: 0rem;
  width: 100%;
  height: 42px;
}

/* Download Page */
div#download.section {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

div#download div.grid-container {
  max-width: 650px;
  padding: 1rem;
}

div#download input::placeholder {
  color: var(--primary-dark)
}

div#download div#download-buttons button {
  width: 100%;
  height: 100px;
  padding: 0;
  text-align: center;
}

div#download div.grid-x div.cell {
  height: 100px;
  margin-bottom: 2rem;
}

/* Medium Screen */
@media screen and (max-width: 64rem) {
    /* global styles */
    h1 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }

    .grid-container {
        max-width: 90%;
    }
    
    .button {
        font-size: 1.1rem;
    }

    div.copy h3 {
        line-height:1.5;
    }
    
    /* all sections */
    div.grid-y {
        text-align: center;
    }
    
    /* section: supported apps */
    form#supported-apps {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }

    /* section: faq */
    div#faq .grid-container {
      max-width: 90%;
    }

    /* Sign up */
    div#sign-up div.grid-container {
      max-width: 100%;
    }
}

/* Small Screen */
@media screen and (max-width: 40rem) {
  .button {
    padding: 1rem 3rem;
  }
  /* sticky nav */
  div.title-bar-right a.button {
    font-size: .8rem;
    padding: .85rem 1rem;
  }  
  
  /* supported apps */
  div#supported-apps img.supported-apps-icons {
    max-height: 50px;
  }

  /* Sign up */
  div#sign-up div.grid-container {
    max-width: 100%;
  }

  div#home-footer {
    padding-bottom: 3rem;
  }
}