/* brand colors */
:root {
    --black-purple: rgb(54, 22, 61);
    --dark-purple: #42244A;
    --cream: #F5E8C7;
    --sand: #ECCCB2;
    --rose: #AC7088;
    --peach: #DEB6AB;
    --off-white: rgba(255,255,255,0.8);
    --white: #FFFFFF;
}

/* global styles */
body {
    background-color: var(--dark-purple);
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.35rem;
}

/* button styles */
a.light-button {
    background-color: var(--cream);
    color: var(--dark-purple);
    border-radius: 5px;
}

a.clear.light-button {
    color: var(--cream);
}

a.dark-button {
    background-color: var(--dark-purple);
    color: var(--cream);
    border-radius: 5px;
}

button.light-button {
    background-color: var(--cream);
    color: var(--dark-purple);
    border-radius: 5px; 
}

button.dark-button {
    background-color: var(--dark-purple);
    color: var(--cream);
    border-radius: 5px;
}

a.button {
    font-size: 1.25rem;
    text-align: center;
}

button.button {
    font-size: 1.15rem;
    text-align: center;
}

/* sticky nav menu */
div.title-bar-right a.button {
    font-size: .9rem;
}

div#menu {
    width:100%;
    background-color: var(--black-purple);
    color: var(--cream);
    padding: 20px;
}

div#menu a.button {
    margin: 0;
}

div.title-bar-left {
    font-size: 1.5rem;
}

/* section: hero */
div#hero {
    background-color: #42244A;
    padding: 2rem 0px 3rem 0px;
}

div#hero div.copy {
    text-align: left;
}

div#hero div.image {
    text-align: center;
}

div#hero h1 {
    color: var(--cream);
    padding-bottom: 2rem;
    line-height: 1.5;
}

div#hero h3 {
    color: var(--off-white);
    line-height: 1.68;
    padding-bottom: 3rem;
}

div#hero img#hero_img {
    max-height: 700px;
}

div#hero h4 {
    text-align: center;
    color: var(--off-white);
    padding-bottom: 2rem;
}

/* section: import */
div#import {
    background-color: var(--cream);
    color: var(--dark-purple);
    padding: 100px 0px 100px 0px;
}

div#import div.image {
    text-align: center;
}

div#import img#import_img {
    max-height: 400px;
}

div#import h3 {
    line-height: 1.5;
    padding-bottom: 20px;
}

/* section: calendar */
div#calendar {
    background-color: var(--rose);
    color: var(--off-white);
    padding: 100px 0px 100px 0px;
}

div#calendar img#calendar_img {
    max-height: 550px;
}

div#calendar img#contact_img {
    max-height: 400px;
}

div#calendar h3 {
    line-height: 1.68;
    padding-bottom: 50px;
}


/* section: movie view */
div#movie-view {
    background-color: var(--white);
    color: var(--dark-purple);
    padding: 100px 0px 100px 0px;
}

div#movie-view div.image {
    text-align: center;
}

div#movie-view img#movie-view {
    max-height: 400px;
}

div#movie-view h3 {
    line-height: 1.68;
    padding-bottom: 50px;
}

/* section: supported apps */
div#supported-apps {
    background-color: var(--cream);
    color: var(--dark-purple);
    padding: 100px 0px 100px 0px;
}

div#supported-apps {
    text-align: center;
}

div#supported-apps img#supported_apps_img {
    max-height: 120px;
    padding: 50px 0px 0px 0px;
}

div#supported-apps h4{
    text-align: center;
    padding: 50px 0px 10px 0px;
}

/* section: sign up */
div#sign-up {
    background-color: var(--dark-purple);
    color: var(--cream);
    padding: 100px 0px 100px 0px;
}

div#sign-up h2{
    padding-bottom: 50px;
}

@media screen and (max-width: 40rem) {      
    /* section: hero */
    div#hero h1 {
        padding-bottom: 1rem;
    }

    div#hero h3 {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 64rem) {
    /* global styles */
    h1 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }

    .grid-container {
        max-width: 45rem;
    }
    .button {
        font-size: 1.1rem;
    }
    
    /* section: hero */
    div#hero h1 {
        padding-bottom: 1rem;
    }

    div#hero h3 {
        padding-bottom: 2rem;
    }

    /* section: import */
    div#import div.image {
        margin-bottom: 3rem;
    }
}